body{
    margin: 20px;
    padding: 0;
    background: #333;
    overflow: hidden;
}

.container{
    max-width: 760px;
    
    margin: auto;
    border: #fff solid 3px;
    background: #fff;
}


/* Styling for text blocks on page */
.main-content{
    position: absolute;

    /* Positioning values to "center" text block at bottom of main image */
    bottom: 42.4%;
    /*bottom: 35.3%;*/
    left: 34.70%;
    width: 30%;


    padding: 10px;
    text-align: center;
    opacity: 0;
    color: #fff;
    background: #333;

    /* When we select an image, the associated text block to that image will be assigned the CSS class main-current which will change the opacity from 0 to 1.  Over a duration of 0.7s.*/
    transition: opacity 0.7s ease-in-out;
}

.main-current{
    opacity: 1;
    
}

/* Displays the main image and text block for that image in a flexbox arrangement.  The absolute positioning (and other positioning properties) in the .main-content align the text block to be at the bottom of the current image being displayed */
.main-img{
    display: flex;
    flex-direction: column;
    padding: 5px 0;
}

/* width is 100% but .container is set to a fix width of 760px*/
.main-img img,
.imgs img{
    width: 100%;
}

/* The current image will be displayed as one large image at the top */
.main-img img{
    height: 28rem;
}

/* All available images (displayed at the bottom) will be smaller to give a selection of available images */
.imgs img{
    height: 10rem;
}

/* Gives "highlighting" effect when mousing over the images at the bottom of the page */
.imgs img:hover{
    opacity: 0.8;
}

/* Arranges the smaller images at the bottom in a grid format*/
.imgs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

#goBack{
    position: absolute;
    font-size: 1.2rem;
    top: 1%;
    left: 2%;
    z-index: 1;
    color: #fff;
    outline: none;
}


/* Uses keyframes to give fade in effect of main image */
.fade-in{
    animation: fadeIn 1s ease-in-out 0s 1 forwards;
}

/* Fade in animation */

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* Repostions text blocks so they don't span outside their respective boundries */
@media(max-width: 1600px){
    .main-content{
        left: 30%;
        width: 40%;

    }
}
@media(max-width: 800px){
    
    /* Sketchy position altering to accomidate smaller screens*/
    body{
        font-size: .8rem;
        margin: 40px 5px;

    }
    .container{
        height: 89vh;
    }
    
    .main-content{
        bottom: 44.2%;
        left: 7.5%;
        width: 80%
    }

    /* The current image will be displayed as one large image at the top */
    .main-img img{
        height: 50vh;
    }

    /* All available images (displayed at the bottom) will be smaller to give a selection of available images */
    .imgs img{
        height: 18vh;
    }


}