* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Monochromatic: mint green */
  --background-color-main: hsl(170, 25%, 78%);
  --background-color-header: #156356;
  --text-color-main: #4b5e5b;
  --text-color-header: #afded6;
  --border-color-header: #4b5e5b;
  --icon-color: #4b5e5b;

  /* Complementary : blue, orange */
  /* --background-color-main: #fff;
  --background-color-header: #2c699a;
  --text-color-main: #333;
  --text-color-header: #fff;
  --border-color-header: #f29e4c;
  --icon-color: #f29e4c; */

  /* --background-color-main: #c8c9de;
  --background-color-header: #f2d3ea;
  --text-color-main: #838491;
  --text-color-header: #838491;
  --border-color-header: #916686;
  --icon-color: #916686; */
}

/* Gives the smooth scrolling behavior when we click links in our nav-bar*/
html {
  scroll-behavior: smooth;
}

body {
  background: var(--background-color-main);
  color: var(--text-color-main);
  font-size: 18px;
  width: 100%;
}

h1 {
  font-size: 2.2rem;
  font-style: bold;
}

.line {
  border-bottom: var(--border-color-header) 3px solid;
}

/* The entire header will span the full length of the screen when the user enters the website */
#header {
  height: 100vh;
  grid-column: 2 / 12;
  display: flex;
  flex-direction: column;
  grid-row-start: 1;
  margin-top: 4rem;
}

.head-text {
  justify-content: center;
  text-align: center;
  margin: auto;
  padding: 2rem;
  background-color: var(--background-color-header);
  border-radius: 10px;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: min-content;
}

main {
  grid-column: 1 / 13;
}

/* Styling for scroll button at bottom of header (font-awesome icon arrow)*/
#header-scroll-button {
  /* Changes size of icon*/
  font-size: 2rem;

  /* Sets top margin to 0, left and right to auto (centers icon to middle) and bottom to 5 rem so that icon is pushed up to view on page load */
  margin: 0 auto 5rem auto;

  /* Removes unwanted blue outline when icon is clicked.*/
  outline: none;

  /* Since icon is wrapped by <a> we want to change from the default blue/purple to a while color*/
  color: var(--icon-color);

  /* This with the hover state below will give icon the highlighting effect*/
  opacity: 0.2;
  transition: opacity 0.5s ease-in-out;
}

/* Gives highlighting effect*/
#header-scroll-button:hover {
  opacity: 1;
}

#head-text-container {
  color: var(--text-color-header);
}

/* Adds a small margin to make <h2> text appear to float up from underline*/
#head-text-container > h2 {
  margin-bottom: 0.1rem;
  animation: 1.5s ease-in 0s 1 textFloatUp forwards;
}

/* Adds animation to make text fade in */
#head-text-container > p {
  animation: 1.7s ease-in 0s 1 textAppears forwards;
  padding-top: 1rem;
}

/* Adds the border and animation to give spanning border effect*/
#underline {
  border-bottom: solid 3px var(--text-color-header);

  margin: 0 auto;
  animation: 1.2s ease-in-out 0s 1 underlineSlideIn forwards;
}

/* Keyframe for spanning underline for landing portion of webpage */
@keyframes underlineSlideIn {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

/* Keyframe for Name floating up for landing portion of webpage */
@keyframes textFloatUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 100%;
    transform: translateY(-10px);
  }
}

/* Keyframe for appearing text below underline of landing portion of webpage */
@keyframes textAppears {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.section-header {
  background: var(--background-color-header);
  color: var(--text-color-header);
  width: 100%;
  text-align: center;
  /* padding: 2rem 30rem 2rem 30rem; */
  padding: 0.2rem 0.3rem;
  border: var(--border-color-header) 7px solid;
}

.section-content {
  /* padding: 0rem 25rem 2rem 25rem; */
  padding: 0rem 0.2rem 0rem 0.2rem;
  width: 75%;
  margin: auto;
}

/* General styling for the navbar as a whole */
.navbar {
  border-bottom: var(--border-color-header) 3px solid;
  background: var(--background-color-main);
  padding: 0.5rem;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 100;

  /* Changing the animation length or the translateY() value will modify the length of the animation */
  animation: 0.9s ease-in 0s 1 navbarSlideDown forwards;
}
/* Gives animation of navbar dropping down from top.
NOTE: I am unsure why nothing is needed in 100% section of this keyframe yet I still get the results I want with the animation.  At this point, the animation works and thats good enough for me*/
@keyframes navbarSlideDown {
  0% {
    transform: translateY(-40px);
  }
  100% {
  }
}

/* Styling for the individual links within the navbar */
.navbar-item {
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;

  text-decoration: none;
  color: var(--text-color-main);
  transition: 0.75s;
}

/* This styling and the transition property in .navbar-item give the highlighting animation when hovering over items within the navbar */
.navbar-item:hover {
  background: var(--border-color-header);
  color: var(--background-color-main);
}

#navbar {
  overflow: hidden;
}

/* Styling for positioning images across the site properly for each section */
.img-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 0rem;
  text-align: center;
}

.img-layout h2 {
  font-style: bold;
  color: var(--background-color-header);
}

.img-layout a {
  display: flex;
  justify-content: center;
}

.img-layout a > img {
  max-height: 200px;
  max-width: 200px;
  box-shadow: #555 0px 4px 4px 7px;
}

.img-layout-content-text {
  padding-bottom: 0.75rem;
}

.section-content-blender {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  padding: 1rem 0rem;
}

.section-content-blender img {
  margin: 0.5rem auto;
  box-shadow: #555 0px 4px 4px 7px;
  max-height: 90%;
  max-width: 90%;
}

@media (min-width: 900px) {
  body {
    font-size: 20px;
  }

  .img-layout a > img {
    max-height: 400px;
    max-width: 400px;
  }

  .section-content-blender {
    grid-template-columns: repeat(2, 1fr);
  }

  .section-content-blender img {
    max-height: 95%;
    max-width: 95%;
  }
}

@media (min-width: 1200px) {
  .img-layout {
    flex-direction: row;
  }

  .img-layout a > img {
    margin-left: 1.5rem;
  }

  .section-content-blender {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Various media queries to fix padding issues for smaller screens, thus resulting in site text to be akwardly spanning down page
@media (max-width: 1800px) {
  .head-text {
    padding: 0 10rem;
  }

  .section-header {
    padding: 5rem;
  }

  .section-content {
    padding: 5rem;
  }
}

@media (max-width: 1200px) {
  h1 {
    font-size: 4rem;
  }

  h3 {
    font-size: 3rem;
  }

  p {
    font-size: 2rem;
    padding: 0.75rem;
  }

  .head-text {
    padding: 0 5rem;
  }

  .section-header {
    padding: 1rem;
  }

  .section-content {
    padding: 1rem;
  }

  .img-layout {
    display: block;
  }

  .img-layout > div {
    text-align: center;
  }
}

@media (max-width: 800px) {
  * {
    text-align: center;
  }

  h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.7rem;
  }

  p {
    font-size: 1.2rem;
  }

  .head-text {
    padding: 0 0.2rem;
  }

  .section-header {
    padding: 0.5rem;
  }

  .section-content {
    padding: 0rem;
  }

  .section-content-blender {
    padding: 0rem;
  }

  .img-layout {
    display: block;
  }

  .img-layout > div {
    text-align: center;
  }

  img {
    width: 75%;
  }

  .img-layout-blender {
    flex-direction: column;
    padding: 0.25rem 0;
  }
} */
