body {
    background: #2e4356;
    color: #ffcb9a;
    font-size: 1.4rem;
    margin: 0;
}
h1 {
    font-size: 3.5rem;
}


.container{
    display: flex;
    flex-direction: row;
}

/* Used to insert peach-gold line underneath some sections of the web page */
.line {
    border-bottom: #ffcb9a 3px solid;
}

.head{
    height: 100vh;
}
.head img{
    width: 100vh;
    height: 100vh;
}

.section-header{
    background: #d1e8e2;
    color: #2c3531;
    text-align: center;
    padding: 2rem 30rem 2rem 30rem;
    border: #778899 7px solid;
}

.section-content{
    padding: 0rem 25rem 2rem 25rem;
}



/* Styling for positioning images across the site properly for each section */
.img-layout{
    display: flex;
    flex-direction: row;

}

.img-layout div{
    flex-basis: 50%;
}

.img-layout img{
    padding: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
